@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@font-face {
    font-family: TitleFont;
    src: url(BebasNeue-Bold.ttf);
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
  --sizeX: 125px;
  --sizeY: 125px;
}
.loader-planet{
  background: linear-gradient(180deg,rgba(252, 201, 107, 1) 0%,rgba(252, 201, 107, 1) 15%,rgba(247, 174, 1, 1) 15%,
      rgba(247, 174, 1, 1) 19%,rgba(252, 201, 107, 1) 19%,rgba(252, 201, 107, 1) 22%,rgba(247, 174, 1, 1) 22%,
      rgba(247, 174, 1, 1) 28%,rgba(252, 201, 107, 1) 28%,rgba(252, 201, 107, 1) 31%,rgba(252, 201, 107, 1) 33%,
      rgba(252, 201, 107, 1) 36%,rgba(247, 174, 1, 1) 36%,rgba(247, 174, 1, 1) 48%,rgba(252, 201, 107, 1) 48%,
      rgba(252, 201, 107, 1) 55%,rgba(247, 174, 1, 1) 55%,rgba(247, 174, 1, 1) 66%,rgba(252, 201, 107, 1) 66%,
      rgba(252, 201, 107, 1) 70%,rgba(247, 174, 1, 1) 70%,rgba(247, 174, 1, 1) 73%,rgba(252, 201, 107, 1) 73%,
      rgba(252, 201, 107, 1) 82%,rgba(247, 174, 1, 1) 82%,rgba(247, 174, 1, 1) 86%,rgba(252, 201, 107, 1) 86% );
  width: var(--sizeX);
  height: var(--sizeY);
  margin: 0 auto;
  margin-bottom: 60px;
  border-radius: 50%;
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.25),inset 8px -4px 6px rgba(199, 128, 0, 0.5),
              inset -8px 4px    8px rgba(255, 235, 199, 0.5),inset 20px -5px 12px #f7ae01,0 0 100px rgba(255, 255, 255, 0.35);
  transform-style: preserve-3d;
  transform: rotateZ(-15deg);
  position: relative;
}
.loader-planet::before,
.loader-planet::after{
  content: "";
  width: 100%;
  height: 100%;
  border: 16px solid #7b6f42;
  border-top-width: 0;
  border-radius: 50%;
  box-shadow: 0 -2px 0 #b1a693;
  position: absolute;
  animation: rings1 0.8s infinite linear;
}
.loader-planet:after{
  border: 8px solid #b1a693;
  border-top-width: 0;
  box-shadow: 0 -2px 0 #7b6f42;
  animation: rings2 0.8s infinite linear;
}
@keyframes rings1{
  0% { transform: rotateX(65deg) rotateZ(0deg) scale(1.75); }
  100% { transform: rotateX(65deg) rotateZ(360deg) scale(1.75); }
}
@keyframes rings2{
  0% { transform: rotateX(65deg) rotateZ(0deg) scale(1.7); }
  100% { transform: rotateX(65deg) rotateZ(360deg) scale(1.7); }
}

#preloader {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100vh;
  background: #363553;
  z-index: 9999;
  transition: all 0.4s ease;
}
.loader {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  transition: 0.4s;
}
.loader .loader_bar  {
  position: relative;
  width: 500px;
  height: 12px;
  background: rgba(255, 255, 255, 0.35);
  border-radius: 50px;
}
.loader .loader_bar:before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #5C2774, #903775);
  border-radius: 50px;
  animation: fill 1.3s ease;
}
@keyframes fill {
  0% { width: 0% }
  100% { width: 100% }
}

body {
  scrollbar-width: none; 
}

body::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 6px; 
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}

body{
  height: 7200px;
  background-image: linear-gradient(#000, #363553, #5C2774, #903775);
  overflow: overlay;
}
h1{
    font-family: TitleFont;
}
p{
    text-align: center;
    transition: 0.8s;
}
.space{
  background-image: url(space8.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 1300px;
  display: flex;
  justify-content: center;
}
.space p{
  display: none;
  color: transparent;
  width: 60%;
  position: absolute;
}
.space img{
    position: absolute;
    border-radius: 80%;
    bottom: 0;
    transition: 0.4s;
}
.space img:hover{
  box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 35px 4px;
  transition: 0.4s;
}
.space a{
  display: none;
}
.space .mercury{
    height: 40px;
    top: 22px;
    right: 55%;
}
.space .venus{
    height: 90px;
    top: 73px;
    right: 42%;
}
.space .earth{
    height: 110px;
    top: 158px;
    right: 58%;
}
.space .mars{
    height: 70px;
    top: 278px;
    right: 46%;
}
.space .jupiter{
    height: 250px;
    top: 334px;
    right: 65%;
}
.space .saturn{
    height: 220px;
    top: 563px;
    right: 31%;
    border-radius: 0%;
}
.space .saturn:hover{
  filter: drop-shadow(0px 0px 8px #fff);
  box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 0px -1px;
}
.space .uranus{
    height: 150px;
    top: 776px;
    right: 56%;
}
.space .neptune{
    height: 150px;
    top: 970px;
    right: 42%;
}

.mercury.show-Mercury{
    right: 80%;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 35px 4px;
}
.mercury-info.show-Mercury{
    top: 25px;
}
.venus.show-Venus{
    right: 10%;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 35px 4px;
}
.venus-info.show-Venus{
    top: 80px;
}
.earth.show-Earth{
    right: 82%;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 35px 4px;
}
.earth-info.show-Earth{
    top: 170px;
}
.mars.show-Mars{
    right: 10%;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 35px 4px;
}
.mars-info.show-Mars{
    top: 275px;
}
.jupiter.show-Jupiter{
    right: 82%;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 35px 4px;
}
.jupiter-info.show-Jupiter{
    top: 410px;
}
.saturn.show-Saturn{
    right: 8%;
    filter: drop-shadow(0px 0px 8px #fff);
    box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 0px -1px;
}
.saturn-info.show-Saturn{
    top: 640px;
}
.uranus.show-Uranus{
    right: 80%;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 35px 4px;
}
.uranus-info.show-Uranus{
    top: 825px;
}
.neptune.show-Neptune{
    right: 7%;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 35px 4px;
}
.neptune-info.show-Neptune{
    top: 1025px;
}
.mercury-button.show-Mercury{
  top: 90px;
}
.venus-button.show-Venus{
  top: 145px;
}
.earth-button.show-Earth{
  top: 235px;
}
.mars-button.show-Mars{
  top: 340px;
}
.jupiter-button.show-Jupiter{
  top: 475px;
}
.saturn-button.show-Saturn{
  top: 705px;
}
.uranus-button.show-Uranus{
  top: 890px;
}
.neptune-button.show-Neptune{
  top: 1090px;
}

.mercury-button.show-Mercury,
.venus-button.show-Venus,
.earth-button.show-Earth,
.mars-button.show-Mars,
.jupiter-button.show-Jupiter,
.saturn-button.show-Saturn,
.uranus-button.show-Uranus,
.neptune-button.show-Neptune{
  padding: 15px 20px;
  text-decoration: none;
  text-align: center;
  position: absolute;
  box-shadow: 0px 0px 5px 0px #5C2774;
  background: transparent;
  backdrop-filter: blur(4px);
  color: #903775;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  display: block;
}
.mercury-button.show-Mercury:hover,
.venus-button.show-Venus:hover,
.earth-button.show-Earth:hover,
.mars-button.show-Mars:hover,
.jupiter-button.show-Jupiter:hover,
.saturn-button.show-Saturn:hover,
.uranus-button.show-Uranus:hover,
.neptune-button.show-Neptune:hover{
  background: transparent;
  color: #903775;
  box-shadow: 0 0 5px #5C2774,
              0 0 25px #5C2774,
              0 0 50px #5C2774,
              0 0 200px #5C2774;
}

.mercury-info.show-Mercury,
.venus-info.show-Venus,
.earth-info.show-Earth,
.mars-info.show-Mars,
.jupiter-info.show-Jupiter,
.saturn-info.show-Saturn,
.uranus-info.show-Uranus,
.neptune-info.show-Neptune{
    color: white;
    display: block;
}

.venus.show-Mercury,
.mars.show-Mercury,
.saturn.show-Mercury,
.neptune.show-Mercury,

.mars.show-Venus,
.saturn.show-Venus,
.neptune.show-Venus,

.venus.show-Earth,
.mars.show-Earth,
.saturn.show-Earth,
.neptune.show-Earth,

.venus.show-Mars,
.saturn.show-Mars,
.neptune.show-Mars,

.venus.show-Jupiter,
.mars.show-Jupiter,
.saturn.show-Jupiter,
.neptune.show-Jupiter,

.venus.show-Saturn,
.mars.show-Saturn,
.neptune.show-Saturn,

.venus.show-Uranus,
.mars.show-Uranus,
.saturn.show-Uranus,
.neptune.show-Uranus,

.venus.show-Neptune,
.mars.show-Neptune,
.saturn.show-Neptune
{
    right: 3%;
}
.earth.show-Mercury,
.jupiter.show-Mercury,
.uranus.show-Mercury,

.mercury.show-Venus,
.earth.show-Venus,
.jupiter.show-Venus,
.uranus.show-Venus,

.mercury.show-Earth,
.jupiter.show-Earth,
.uranus.show-Earth,

.mercury.show-Mars,
.earth.show-Mars,
.jupiter.show-Mars,
.uranus.show-Mars,

.mercury.show-Jupiter,
.earth.show-Jupiter,
.uranus.show-Jupiter,

.mercury.show-Saturn,
.earth.show-Saturn,
.jupiter.show-Saturn,
.uranus.show-Saturn,

.mercury.show-Uranus,
.earth.show-Uranus,
.jupiter.show-Uranus,

.mercury.show-Neptune,
.earth.show-Neptune,
.jupiter.show-Neptune,
.uranus.show-Neptune
{
    right: 91%;
}

.content{
    padding-top: 80px;
    display: grid;
    justify-items: center;
}
.content-mercury{
    box-shadow: 0 25px 50px rgb(0 0 0 / 20%);
    background: transparent;
    backdrop-filter: blur(4px);
    width: 90%;
    height: 600px;
    display: flex;
    align-items: center;
}
.content-mercury h1{
    position: absolute;
    top: 15px;
    left: 220px;
    color: #fff;
    font-size: 80px;
}
.content-mercury p{
    display: block;
    color: #fff;
    z-index: 2;
    font-size: 18px;
    left: 70px;
    width: 40%;
    position: absolute;
}
.content-mercury-img{
    background-image: url(content-mercury.png);
    background-position: left;
    height: 100%;
    width: 50%;
    z-index: 1;
    right: 0;
    position: absolute;
}

.content-venus{
    box-shadow: 0 25px 50px rgb(0 0 0 / 20%);
    background: transparent;
    backdrop-filter: blur(4px);
    width: 90%;
    height: 600px;
    display: flex;
    align-items: center;
    top: 100px;
    position: relative;
}
.content-venus h1{
    position: absolute;
    color: #fff;
    font-size: 80px;
    top: 15px;
    left: 250px;
}
.content-venus p{
    display: block;
    color: #fff;
    z-index: 2;
    width: 40%;
    left: 70px;
    font-size: 17px;
    position: absolute;
}
.content-venus-img{
    background-image: url(content-venus.png);
    background-position: left;
    height: 100%;
    width: 50%;
    z-index: 1;
    right: 0;
    position: absolute;
}

.content-earth{
    box-shadow: 0 25px 50px rgb(0 0 0 / 20%);
    background: transparent;
    backdrop-filter: blur(4px);
    width: 90%;
    height: 600px;
    display: flex;
    align-items: center;
    top: 200px;
    position: relative;
}
.content-earth h1{
    position: absolute;
    color: #fff;
    font-size: 80px;
    top: 15px;
    left: 260px;
}
.content-earth p{
    display: block;
    color: #fff;
    z-index: 2;
    width: 40%;
    left: 70px;
    font-size: x-large;
    position: absolute;
}
.content-earth-img{
    background-image: url(content-earth.png);
    background-position: left;
    height: 100%;
    width: 50%;
    z-index: 1;
    right: 0;
    position: absolute;
}

.content-mars{
    box-shadow: 0 25px 50px rgb(0 0 0 / 20%);
    background: transparent;
    backdrop-filter: blur(4px);
    width: 90%;
    height: 600px;
    display: flex;
    align-items: center;
    top: 300px;
    position: relative;
}
.content-mars h1{
    position: absolute;
    color: #fff;
    font-size: 80px;
    top: 15px;
    left: 250px;
}
.content-mars p{
    display: block;
    color: #fff;
    z-index: 2;
    width: 40%;
    left: 70px;
    font-size: 25px;
    position: absolute;
}
.content-mars-img{
    background-image: url(content-mars.png);
    background-position: left;  
    height: 100%;
    width: 50%;
    z-index: 1;
    right: 0;
    position: absolute;
}

.content-jupiter{
    box-shadow: 0 25px 50px rgb(0 0 0 / 20%);
    background: transparent;
    backdrop-filter: blur(4px);
    width: 90%;
    height: 600px;
    display: flex;
    align-items: center;
    top: 400px;
    position: relative;
}
.content-jupiter h1{
    position: absolute;
    color: #fff;
    font-size: 80px;
    top: 15px;
    left: 250px;
}
.content-jupiter p{
    display: block;
    color: #fff;
    z-index: 2;
    width: 40%;
    left: 70px;
    font-size: 20px;
    position: absolute;
}
.content-jupiter-img{
    background-image: url(content-jupiter.png);
    background-position: left;  
    height: 100%;
    width: 50%;
    z-index: 1;
    right: 0;
    position: absolute;
}

.content-saturn{
    box-shadow: 0 25px 50px rgb(0 0 0 / 20%);
    background: transparent;
    backdrop-filter: blur(4px);
    width: 90%;
    height: 600px;
    display: flex;
    align-items: center;
    top: 500px;
    position: relative;
}
.content-saturn h1{
    position: absolute;
    color: #fff;
    font-size: 80px;
    top: 15px;
    left: 250px;
}
.content-saturn p{
    display: block;
    color: #fff;
    z-index: 2;
    width: 40%;
    left: 70px;
    font-size: 21px;
    position: absolute;
}
.content-saturn-img{
    background-image: url(content-saturn.png);
    background-position: left;  
    height: 100%;
    width: 80%;
    z-index: 1;
    right: 0;
    position: absolute;
}

.content-uranus{
    box-shadow: 0 25px 50px rgb(0 0 0 / 20%);
    background: transparent;
    backdrop-filter: blur(4px);
    width: 90%;
    height: 600px;
    display: flex;
    align-items: center;
    top: 600px;
    position: relative;
}
.content-uranus h1{
    position: absolute;
    color: #fff;
    font-size: 80px;
    top: 15px;
    left: 250px;
}
.content-uranus p{
    display: block;
    color: #fff;
    z-index: 2;
    width: 40%;
    left: 70px;
    font-size: 19px;
    position: absolute;
}
.content-uranus-img{
    background-image: url(content-uranus.png);
    background-position: left;  
    height: 100%;
    width: 50%;
    z-index: 1;
    right: 0;
    position: absolute;
}

.content-neptune{
    box-shadow: 0 25px 50px rgb(0 0 0 / 20%);
    background: transparent;
    backdrop-filter: blur(4px);
    width: 90%;
    height: 600px;
    display: flex;
    align-items: center;
    top: 700px;
    position: relative;
}
.content-neptune h1{
    position: absolute;
    color: #fff;
    font-size: 80px;
    top: 15px;
    left: 250px;
}
.content-neptune p{
    display: block;
    color: #fff;
    z-index: 2;
    width: 40%;
    left: 70px;
    font-size: 20px;
    position: absolute;
}
.content-neptune-img{
    background-image: url(content-neptune.png);
    background-position: left;  
    height: 100%;
    width: 50%;
    z-index: 1;
    right: 0;
    position: absolute;
}

footer{
  background: #3e3b3bff;
  position: absolute;
  width: 98%;
  top: 7000px;
  left: 1%;
}
footer:before{
  content: '';
  position: absolute;
  inset: -3px;
  background: linear-gradient(160deg, #903775, #5C2774, #903775, #5C2774);
  box-shadow: 0 0 0 12px #3e3b3bff;
  z-index: -1;
}
footer p{
  font-size: 30px;
}
footer li{
  font-size: 18px;
}
.footer-info{
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
}
.footer-logo{
  height: 140px;
}
.footer-read p{
  padding-bottom: 10px;
  padding-left: 17px;
  color: #fff;
  display: block;
}
.footer-read ul{
  font-size: 18px;
  padding-left: 35px;
}
.footer-link{
  display: flex;
}
.footer-link a{
  text-decoration: none;
  color: #fff;
}
.footer-link a:hover{
  filter: brightness(0.7);
}
.footer-contakt{
  padding-left: 17px;
  color: #fff;
  display: block;
}
.footer-contakt p{
  padding-bottom: 10px;
}
.footer-contakt a{
  text-decoration: none;
  color: #fff;
}
.footer-contakt a:hover{
  filter: brightness(0.7);
}
.footer-contakt i{
  color: gray;
}
.footer-contakt a:hover i{
  color: transparent;
}
